<a href="https://colab.research.google.com/github/mattjones5/IS_4487/blob/main/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IS 4487 Module 2 Script

## Agenda

- Loading installed packages
- Inspect data
- Explore plot types 

Make sure you have downloaded tonight's script and data from Canvas.

##Load Libraries

In this class we will be using 
- Pandas
- Scikitlearn
- Matplotlib

We can pull sample data from 
- statsmodels.api

In [1]:
import pandas as pd
import matplotlib as mpl
import sklearn as sl

## Getting data into Pandas

In this case we will load data from the statsmodels.org library

See the Canvas assignments and lectures for a description of the Megatelco data

**Note:** you will need to enter a code supplied by Google in the next step.

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive', force_remount=True)

df = pd.read_csv (r'/content/gdrive/MyDrive/Colab Notebooks/megatelco.csv')

print (df)

In [ ]:
#look at the top rows
df.head(10)

In [ ]:
#look at last rows
df.tail(10)

In [ ]:
#get a summary of the dataset
df.describe()

In [ ]:
#look at the datatypes
df.info()

## Clean up the data
Did you notice anything unusual about the "house" amounts? 

How about the handset price and income?

In [ ]:
df_clean = df[(df['house'] > 0) & (df['income'] > 0) & (df['handset_price'] < 1000)]
df_clean.describe()

# Add Derived Attribute

Add a column with the income in K (thousands)

In [ ]:
df_clean['income_k'] = (df_clean['income']/1000).round(2)
df_clean.head()

## Slice the data  
 What is average house price at the two levels of leave?

 Conclusion?  Stayers have substantially more expensive homes.

In [ ]:
df_clean[['house','leave']].groupby('leave').mean().round(2)

# LAB 3 CODE BELOW!!!

In [114]:
from google.colab import drive 
drive.mount('/content/gdrive', force_remount=True)

df = pd.read_csv (r'/content/gdrive/MyDrive/Colab Notebooks/retail_dataset.csv')

print (df)

Mounted at /content/gdrive
      customer_id      customer_name          address_line_1          city  \
0              67      Gordy Matteau     59 Northland Circle    Wilmington
1             201     Cort Paskerful         769 Buell Drive    Huntsville
2              45    Willetta Lumley       41 Ridgeway Alley        Irvine
3             106   Alison Batterton           489 Erie Hill      Richmond
4             357  Martelle Paxeford    451 Manitowish Place      Richmond
...           ...                ...                     ...           ...
9564          637  Jayson Andriessen  0819 Crownhardt Circle     Allentown
9565          370    Darby Tesseyman     7468 Jackson Circle        Albany
9566          598   Henka De Ferrari      89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne    9630 Washington Hill     Watertown
9568          482       Matelda Bull      6406 Bultman Alley  Gaithersburg

                 state_province  postal_code  order_id  order_date  \
0     DE                             19805.0      1001  2020-01-11
1     AL                             35810.0      1002  2019-11-22
2     CA                             92612.0      1003  2019-09-17
3     VA                             23293.0      1004  2019-12-09
4     VA                             23293.0      1005  2019-06-08
...                         ...          ...       ...         ...
9564  Pennsylvania                       NaN      8143  2021-06-13
9565  NY                             12210.0      8144  2021-06-16
9566  California                     94064.0      8145  2021-05-09
9567  Massachusetts                   2472.0      8146  2021-04-13
9568  Maryland                       20883.0      8147  2021-03-21

      customer_id.1  order_id.1  product_id  quantity  product_id.1  \
0                67        1001         106       3.0           106
1               201        1002         104       2.0           104
2                45        1003         107       5.0           107
3               106        1004         106       8.0           106
4               357        1005         107       7.0           107
...             ...         ...         ...       ...           ...
9564            637        8143         113      16.0           113
9565            370        8144         109       1.0           109
9566            598        8145         110       1.0           110
9567            737        8146         113       2.0           113
9568            482        8147         113       5.0           113

                product_name product_price total_amount order_year_month  \
0          Great value Juice         $1.99        $5.97          2020-01
1                       Desk        $85.98      $171.96          2019-11
2             Dove deodorant         $3.99       $19.95          2019-09
3          Great value Juice         $1.99       $15.92          2019-12
4             Dove deodorant         $3.99       $27.93          2019-06
...                      ...           ...          ...              ...
9564          Extension cord        $15.59      $249.44          2021-06
9565  Samsung Galaxy Note 10       $749.99      $749.99          2021-06
9566         Apple iPad Mini       $329.99      $329.99          2021-05
9567          Extension cord        $15.59       $31.18          2021-04
9568          Extension cord        $15.59       $77.95          2021-03

     order_month
0      January
1      November
2      September
3      December
4      June
...          ...
9564   June
9565   June
9566   May
9567   April
9568   March

[9569 rows x 18 columns]

In [115]:
#df["total_amount"] = pd.to_numeric(df["total_amount"].str.replace("$",""))
df["total_amount"] = df["total_amount"].str.replace("$","")
df["total_amount"] = pd.to_numeric(df["total_amount"].str.replace(",",""))
df["total_amount"] = pd.to_numeric(df["total_amount"]).astype(float)
df

<ipython-input-115-b99f3b3ae453>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["total_amount"] = df["total_amount"].str.replace("$","")

,customer_id,customer_name,address_line_1,city,state_province,postal_code,order_id,order_date,customer_id.1,order_id.1,product_id,quantity,product_id.1,product_name,product_price,total_amount,order_year_month,order_month
0,67,Gordy Matteau,59 Northland Circle,Wilmington,DE,19805.0,1001,2020-01-11,67,1001,106,3.0,106,Great value Juice,$1.99,5.97,2020-01,January
1,201,Cort Paskerful,769 Buell Drive,Huntsville,AL,35810.0,1002,2019-11-22,201,1002,104,2.0,104,Desk,$85.98,171.96,2019-11,November
2,45,Willetta Lumley,41 Ridgeway Alley,Irvine,CA,92612.0,1003,2019-09-17,45,1003,107,5.0,107,Dove deodorant,$3.99,19.95,2019-09,September
3,106,Alison Batterton,489 Erie Hill,Richmond,VA,23293.0,1004,2019-12-09,106,1004,106,8.0,106,Great value Juice,$1.99,15.92,2019-12,December
4,357,Martelle Paxeford,451 Manitowish Place,Richmond,VA,23293.0,1005,2019-06-08,357,1005,107,7.0,107,Dove deodorant,$3.99,27.93,2019-06,June
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9564,637,Jayson Andriessen,0819 Crownhardt Circle,Allentown,Pennsylvania,NaN,8143,2021-06-13,637,8143,113,16.0,113,Extension cord,$15.59,249.44,2021-06,June
9565,370,Darby Tesseyman,7468 Jackson Circle,Albany,NY,12210.0,8144,2021-06-16,370,8144,109,1.0,109,Samsung Galaxy Note 10,$749.99,749.99,2021-06,June
9566,598,Henka De Ferrari,89 Sunnyside Drive,Redwood City,California,94064.0,8145,2021-05-09,598,8145,110,1.0,110,Apple iPad Mini,$329.99,329.99,2021-05,May
9567,737,Tommie Penvarne,9630 Washington Hill,Watertown,Massachusetts,2472.0,8146,2021-04-13,737,8146,113,2.0,113,Extension cord,$15.59,31.18,2021-04,April
9568,482,Matelda Bull,6406 Bultman Alley,Gaithersburg,Maryland,20883.0,8147,2021-03-21,482,8147,113,5.0,113,Extension cord,$15.59,77.95,2021-03,March

In [107]:
df1.dropna()

,customer_id,customer_name,address_line_1,city,state_province,postal_code,order_id,order_date,customer_id.1,order_id.1,product_id,quantity,product_id.1,product_name,product_price,total_amount,order_year_month,order_month
0,67,Gordy Matteau,59 Northland Circle,Wilmington,DE,19805.0,1001,2020-01-11,67,1001,106,3.0,106,Great value Juice,$1.99,5.97,2020-01,January
1,201,Cort Paskerful,769 Buell Drive,Huntsville,AL,35810.0,1002,2019-11-22,201,1002,104,2.0,104,Desk,$85.98,171.96,2019-11,November
2,45,Willetta Lumley,41 Ridgeway Alley,Irvine,CA,92612.0,1003,2019-09-17,45,1003,107,5.0,107,Dove deodorant,$3.99,19.95,2019-09,September
3,106,Alison Batterton,489 Erie Hill,Richmond,VA,23293.0,1004,2019-12-09,106,1004,106,8.0,106,Great value Juice,$1.99,15.92,2019-12,December
4,357,Martelle Paxeford,451 Manitowish Place,Richmond,VA,23293.0,1005,2019-06-08,357,1005,107,7.0,107,Dove deodorant,$3.99,27.93,2019-06,June
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9561,240,Barnard Hatley,5541 Kim Alley,Duluth,GA,30195.0,8140,2021-03-04,240,8140,110,1.0,110,Apple iPad Mini,$329.99,329.99,2021-03,March
9565,370,Darby Tesseyman,7468 Jackson Circle,Albany,NY,12210.0,8144,2021-06-16,370,8144,109,1.0,109,Samsung Galaxy Note 10,$749.99,749.99,2021-06,June
9566,598,Henka De Ferrari,89 Sunnyside Drive,Redwood City,California,94064.0,8145,2021-05-09,598,8145,110,1.0,110,Apple iPad Mini,$329.99,329.99,2021-05,May
9567,737,Tommie Penvarne,9630 Washington Hill,Watertown,Massachusetts,2472.0,8146,2021-04-13,737,8146,113,2.0,113,Extension cord,$15.59,31.18,2021-04,April
9568,482,Matelda Bull,6406 Bultman Alley,Gaithersburg,Maryland,20883.0,8147,2021-03-21,482,8147,113,5.0,113,Extension cord,$15.59,77.95,2021-03,March

In [94]:
df1.describe()

,customer_id,postal_code,order_id,customer_id.1,order_id.1,product_id,quantity,product_id.1,total_amount
count,8981.000000,8981.000000,8981.000000,8981.000000,8981.000000,8981.000000,8981.000000,8981.000000,8981.000000
mean,268.464982,52230.965371,4974.766173,268.464982,4974.766173,106.688231,3.344394,106.688231,344.002359
std,189.860282,29663.530626,2034.447409,189.860282,2034.447409,3.657543,4.244108,3.657543,375.985611
min,1.000000,1105.000000,1001.000000,1.000000,1001.000000,101.000000,1.000000,101.000000,1.990000
25%,121.000000,27404.000000,3246.000000,121.000000,3246.000000,104.000000,1.000000,104.000000,55.990000
50%,243.000000,48295.000000,5430.000000,243.000000,5430.000000,107.000000,1.000000,107.000000,167.970000
75%,362.000000,79923.000000,6675.000000,362.000000,6675.000000,110.000000,4.000000,110.000000,694.970000
max,800.000000,99812.000000,8147.000000,800.000000,8147.000000,114.000000,20.000000,114.000000,1977.440000

In [106]:
df1G = df1.groupby("order_month")
df1G.first()

,customer_id,customer_name,address_line_1,city,state_province,postal_code,order_id,order_date,customer_id.1,order_id.1,product_id,quantity,product_id.1,product_name,product_price,total_amount,order_year_month
order_month,,,,,,,,,,,,,,,,,
April,178,Mycah McMaster,6 Troy Parkway,Las Vegas,NV,89145.0,1021,2019-04-24,178,1021,107,6.0,107,Dove deodorant,$3.99,23.94,2019-04
August,161,Kendricks Bernt,43 Red Cloud Road,Sacramento,CA,95818.0,1016,2019-08-30,161,1016,110,2.0,110,Apple iPad Mini,$329.99,659.98,2019-08
December,106,Alison Batterton,489 Erie Hill,Richmond,VA,23293.0,1004,2019-12-09,106,1004,106,8.0,106,Great value Juice,$1.99,15.92,2019-12
February,351,Glenn Reville,3 Springview Drive,Dallas,TX,75277.0,1006,2020-02-18,351,1006,106,4.0,106,Great value Juice,$1.99,7.96,2020-02
January,67,Gordy Matteau,59 Northland Circle,Wilmington,DE,19805.0,1001,2020-01-11,67,1001,106,3.0,106,Great value Juice,$1.99,5.97,2020-01
July,383,Corinne Rysdale,771 Porter Circle,Fairbanks,AK,99790.0,1014,2019-07-05,383,1014,106,1.0,106,Great value Juice,$1.99,1.99,2019-07
June,357,Martelle Paxeford,451 Manitowish Place,Richmond,VA,23293.0,1005,2019-06-08,357,1005,107,7.0,107,Dove deodorant,$3.99,27.93,2019-06
March,393,Ozzy Yockley,01 Algoma Way,Kansas City,MO,64114.0,1035,2019-03-10,393,1035,110,1.0,110,Apple iPad Mini,$329.99,329.99,2019-03
May,83,Saxe Southam,6 Pankratz Drive,Baton Rouge,LA,70805.0,1013,2019-05-19,83,1013,108,1.0,108,Printer,$59.99,59.99,2019-05
November,201,Cort Paskerful,769 Buell Drive,Huntsville,AL,35810.0,1002,2019-11-22,201,1002,104,2.0,104,Desk,$85.98,171.96,2019-11
October,233,Cosette Berkowitz,7619 Susan Lane,South Bend,IN,46634.0,1007,2019-10-25,233,1007,105,2.0,105,Office Chair,$55.99,111.98,2019-10
September,45,Willetta Lumley,41 Ridgeway Alley,Irvine,CA,92612.0,1003,2019-09-17,45,1003,107,5.0,107,Dove deodorant,$3.99,19.95,2019-09